<title>BlissTech</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> 
<link rel="shortcut icon" href="/icon.png" />