<title>BlissTech</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<meta charset="utf-8" />
<meta name="description" content="Making software simple.">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> 
<link rel="shortcut icon" href="/icon.png" />
<meta name="author" content="CJ">
<meta http-equiv="x-ua-compatible" content="ie=edge">
