body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.background-img {
  background-color: #333;
  background: url(/background.jpg) 0 0 no-repeat;
  background-size: auto auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
}
h2 {
  color: #fff;
  text-align: center;
  font-size: 48px;
  margin-bottom: 0;
}
h2 span {
  font-weight: 300;
}
h4 {
  text-align: center;
  color: #eee;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
}
img {
  width: 520px;
  max-width: 60%;
}
section {
  color: #d5d5d5;
  margin-top: 60px;
}
a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}