body {
  margin: 0;
  /* background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  /* height: 100vh; */
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.background-img {
  background: url(/background.jpg) 0 0 no-repeat;
  background-size: auto auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
  background-color: rgba(0,0,0);
}
h2 {
  color: #fff;
  text-align: center;
  font-size: 48px;
  margin-bottom: 0;
}
h2 span {
  font-weight: 300;
}
h4 {
  text-align: center;
  color: #ddd;
  font-size: 18px;
}
img {
  width: 520px;
  max-width: 90%;
}