<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="background-placeholder"></div>
  <div class="background-img"></div>
  <h2>Bliss<span>Tech</span></h2>
  <h4>Making software simple.</h4>
  <img src="/comingsoon.png" />
  <section>Enquire at <a href="mailto:cj@blisstech.co.za">cj@blisstech.co.za</a></section>
</body>
</html>
